@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    border-top-color: transparent;
    border-right-color: blue;
    border-bottom-color: transparent;
    border-left-color: blue;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  

  /* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #D9E9EB;
}


